body, div, a {
    padding:0;
    margin:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#calculator {
	width: 310px;
	height: 460px;
	margin: 10px auto;
	padding: 5px;
	background-color: #999;
	border: 3px solid black;
	border-radius: 10px;
}

#total {
	height: 70px;
	width: 300px;
	margin: 0 0 5px;
	padding: 0 5px;
	background-color: #fff;
	text-align: right;
	font-size: 60px;
}
#calculator > div {
	margin: 0px;
}

a {
	cursor: pointer;
}

#operators a,
#numbers a {
	display: block;
	width: 45px;
	height: 45px;
	float: left;
	padding: 2px;
	margin: 5px  6px;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 39px;
	background-color: #EDEDED; /* fallback color if gradients are not supported */
	background-image: -webkit-linear-gradient(top, #EDEDED, #DCDCDC); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
	background-image:    -moz-linear-gradient(top, #EDEDED, #DCDCDC); /* For Firefox (3.6 to 15) */
	background-image:      -o-linear-gradient(top, #EDEDED, #DCDCDC); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to bottom, #EDEDED, #DCDCDC); /* Standard syntax; must be last */

	border-radius: 10px;
}

#numbers a {
	font-size: 43px;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin: 5px 15px;
}

a:hover{
	background-color: #DCDCDC; /* fallback color if gradients are not supported */
	background-image: -webkit-linear-gradient(top, #DCDCDC, #EDEDED); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
	background-image:    -moz-linear-gradient(top, #DCDCDC, #EDEDED); /* For Firefox (3.6 to 15) */
	background-image:      -o-linear-gradient(top, #DCDCDC, #EDEDED); /* For old Opera (11.1 to 12.0) */ 
	background-image:         linear-gradient(to bottom, #DCDCDC, #EDEDED); /* Standard syntax; must be last */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#DCDCDC');
}